[user]
    name = Martyn Gigg
    email = martyn.gigg@gmail.com
[core]
    editor = emacs
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = red reverse
    local = blue
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = green
    plain = white
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[fetch]
    # Remove remote-tracking references that no longer exist on the remote when you do a fetch/pull
    prune = true
[log]
    # Get the log to follow files even if they were renamed
    follow = true
[merge]
    tool = kdiff3
    conflictstyle = diff3
[mergetool "kdiff3"]
    path = kdiff3
[push]
    default = simple
[pull]
    # Only pull the current branch by default
    default = current
    # Only allow pull if it can be fast-forwarded (otherwise you explicitly need to merge in the remote or rebase onto it e.g. with git pull --rebase)
    ff = only
[clangFormat]
    binary = /usr/bin/clang-format-6.0
    style = LLVM
[branch]
    autosetuprebase = always
    autosetupmerge = false
[rebase]
    # Automatically reposition !fixup/!squash commits in interactive rebase (useful with git commit --fixup/squash)
    autosquash = true
[apply]
    whitespace = nowarn
[web]
    browser = firefox
[alias]
    st = status -s
    cl = clone
    ci = commit
    cm = commit -m
    cma = commit -a -m
    ca = commit --amend
    cah = commit --amend --reuse-message=HEAD
    caah = commit --all --amend --reuse-message=HEAD

    filelog = log -u
    files-changed = "!f() { git log --name-only --format= ${1:-upstream/master}.. | sort | uniq;  }; f"
    cppfiles-changed = "!f() { git log --name-only --format= ${1:-upstream/master}.. | sort | uniq | grep -E \"\\.cpp|\\.h|\\.tcc\"; }; f"
    clformat = "!f() { for f in `git cppfiles-changed`; do clang-format-6.0 -i $f; done;  }; f"
    fl = log -u
    ai = add --interactive
    co = checkout
    br = branch
    bra = branch -ra
    newtopic = "!f() { git fetch $1 ${3:-master} && git co --no-track -b "$2" FETCH_HEAD; }; f"

    # list commands
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"

    diff = diff --word-diff
    d = diff --word-diff
    dc = diff --cached

    # list modified files in last commit
    dl = "!git ll -1"

    # diff last commit
    dlc = diff --cached HEAD^
    dr  = "!f() { git diff -w "$1"^.."$1"; }; f"
    diffr  = "!f() { git diff "$1"^.."$1"; }; f"

    # reset commands
    r = reset
    rh = reset --hard

    # stash
    sl = stash list
    sp = stash pop

    # cherry pick
    cp = cherry-pick

    # merges
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"

    # remotes
    fetcur="!f() { CURBRANCH=$(git rev-parse --abbrev-ref HEAD) && git fetch origin +refs/heads/$CURBRANCH:refs/remotes/origin/$CURBRANCH; }; f"
    pulcur="!f() { CURBRANCH=$(git rev-parse --abbrev-ref HEAD) && git pull origin +refs/heads/$CURBRANCH:refs/remotes/origin/$CURBRANCH; }; f"

    # pull requests
    # Check out a pull request for testing
    test-pr = "!f() { git fetch $1 pull/$2/merge:pr/$2-merged && git checkout pr/$2-merged; }; f"
    sync-pr = "!f() { git fetch $1 +pull/$2/merge && git reset --hard FETCH_HEAD; }; f"
    # Remove all branches starting pr/
    prune-pr = "!f() { git branch | grep pr/ | xargs git branch -D }; f"

    # When pushing a new branch upstream, set the local branch to track it
    pushu = push --set-upstream
    # Force push with lease (safer than push --force, but still be careful when changing history)
    pushfl = push --force-with-lease
[rerere]
    enabled = true
[rebase]
    autosquash = true
[credential]
    helper = cache
[diff]
    noprefix = true
