[submodule "setup/gnome-terminal-colors-solarized"]
	path = setup/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "setup/dircolors-solarized"]
	path = setup/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "setup/bash-git-prompt"]
	path = setup/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "setup/qtcreator-solarized"]
	path = setup/qtcreator-solarized
	url = https://github.com/curonian/qtcreator-solarized
[submodule "setup/dockerfile-mode"]
	path = setup/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
