[submodule "setup/gnome-terminal-colors-solarized"]
	path = thirdparty/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "setup/dircolors-solarized"]
	path = thirdparty/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "setup/bash-git-prompt"]
	path = thirdparty/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "setup/qtcreator-solarized"]
	path = thirdparty/qtcreator-solarized
	url = https://github.com/curonian/qtcreator-solarized
[submodule "setup/dockerfile-mode"]
	path = thirdparty/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "thirdparty/oh-my-zsh"]
	path = thirdparty/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "custom-zsh/plugins/zsh-autosuggestions"]
	path = custom-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
