[submodule "setup/gnome-terminal-colors-solarized"]
	path = setup/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "setup/dircolors-solarized"]
	path = setup/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "setup/bash-git-prompt"]
	path = setup/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
